* {
  padding: 0px;
  margin: 0px;
}
#mainBox {
  height: 100vh;
  width: 100vw;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contentBox {
  height: 80%;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
header {
  width: 220px;
  background-color: navy;
  color: white;
  font-size: 26px;
  text-align: center;
  position: relative;
  left: 400px;
  border-radius: 4px;
}
#books {
  width: 160px;
}
#booksRow {
  display: none;
}
#loadingText {
  margin-left: 10px;
}
button {
  background-color: navy;
  color: white;
  width: 80px;
  font-size: 20px;
  padding: 2px;
  border-radius: 4px;
}
footer {
  display: flex;
  justify-content: flex-end;
}
